*,
*:before,
*:after {
  box-sizing: inherit;
}

.bad-script-regular {
  font-family: 'Bad Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 px 1rem*/
}
